/* Custom class to hide scrollbar */
.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and other WebKit browsers */
}
